{% extends "base.html" %}

{% block title %} App Name{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}


  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="list-group" id="sidebar">
                  <a href="#" class="list-group-item">Data Organization</a>
                  <a href="#" class="list-group-item">Time Zone Defaults</a>
                  <a href="#" class="list-group-item">Diagnostics</a>
              </div>
          </div>
          <div class="col-md-9">
            <h2>Data Organization</h2>
            <p>All of the information for organizing data into projects, and groups.</p>
            <hr class="col-md-12">
            
            <h2>Time Zone Defaults</h2>
            <p>All of the settings for time zone and daylight savings.
            </p><hr class="col-md-12">
                   
            <h2>Diagnostics</h2>
            <p>Run various diagnostics.</p>
             <button class="btn" contenteditable="false">Run Network Diagnostic</button>
          </div>
          <div class="span9"></div>
      </div>
  </div>

{% endblock %}