{% extends "base.html" %}


{% block scripts %}
{{super()}}
<script type=text/javascript src=" {{url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}">
</script>

<script type=text/javascript src=" {{ url_for('static', filename='js/vendor/eventemitter2.min.js') }}">
</script>

<script type=text/javascript src=" {{ url_for('static', filename='js/vendor/roslib.min.js') }}">
</script>

<script type=text/javascript src=" {{url_for('static', filename='js/rosnode.js') }}">
</script>
{% endblock %}

{% block page_content %}


  <div class="container">
    <div class="page-header">
      <h1>Running Nodes</h1>
    </div>

    <div class="alert alert-warning" id="roscore-alert" style="display:none;">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p><strong>roscore!</strong> is not running.</p>
      <p>
        <button type="button" class="btn btn-default" aria-label="Left Align">
         Run <strong>roscore!</strong>
        </button>

      </p>

    </div>


    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Node List</div>
      <!-- Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="nodesList">
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}
