{% extends "base.html" %}

{% block title %} Scan{% endblock %}

{% block scripts %}

{{ super() }}

<script type="text/javascript">
  function addScemeToRow(scheme) {
    tabBody=document.getElementsByTagName("tbody").item(0);
    row=document.createElement("tr");
    cell1 = document.createElement("td");
    cell2 = document.createElement("td");
    cell3 = document.createElement("td");
    textnode1=document.createTextNode(scheme.name);
    textnode2=document.createTextNode(scheme.options["wpa-ssid"]);
    button = document.createElement("button")
    button.setAttribute("type","button")
    button.setAttribute("class","btn btb-info")
    button.appendChild(document.createTextNode("connect"));
    cell1.appendChild(textnode1);
    cell2.appendChild(textnode2);
    cell3.appendChild(button);
    row.appendChild(cell1);
    row.appendChild(cell2);
    row.appendChild(cell3);
    tabBody.appendChild(row);
  }

  function getCells() {
    $.getJSON("/api/v1.0/wifi/schemes", function(data) {
      for (i in data.schemes) {
        addScemeToRow(data.schemes[i]);
      }
    });
  }

  getCells();
</script>

{% endblock %}



{% block page_content %}

<div class="container">
<h2>Basic Table</h2>
<p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
</div>


{% endblock %}
