{% extends "base.html" %}

{% block title %} Arduino {% endblock %}


{% block page_content %}


<script type=text/javascript src=" {{url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}">
</script>

<script>
var my_alert = function(msg) {
  $("#warning").append(
    '<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>' + msg +
      '</div>'
  );
}
</script>

<script type=text/javascript>

var deleteNode = function(node) {
  $.ajax({
    url: '/api/v1.0/rosnode/' + node + '/',
    type: 'DELETE',
    success: function(result) {
      console.log("deleted");
      load_nodes();    
    }
  });
}


var show_nodes = function(nodes) {
  for ( i = 0; i < nodes.length; i+=1) {
    s = nodes[i];
    console.log(s);
    var btn_class = 'btn btn-xs btn-danger';
    if (s == 'rosout') {
      btn_class = btn_class + ' disabled';
    }
    $('#nodesList').append(
      '<tr>' +
      '<td>' + s + '</td>' +
      '<td>'+
      '<div class="btn-group" role="group">'+
      '<button class="' + btn_class + '" type="button" onclick="deleteNode(\'' + s + '\')">Delete</button> </div></td>'+
      '</tr>'
      );
  }
}

var load_nodes = function () {
  $('#nodesList').html("");
  setTimeout( function () { 
  $('#sketchesList').empty();
  $.ajax({
    url: '/api/v1.0/rosnodes/',
    type: 'GET',
    success: function(data) {
      console.log(data)
      show_nodes(data["nodes"])
    }
  });}, 500);
}

$(load_nodes());

</script>

  <div class="page-header">
    <h1>Sketches</h1>
  </div>
 
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Node List</div>
    <!-- Table -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
          <!--td><button type="button" onclick="deleteAll()">Delete All</button-->
            <!--tr>
              <th></th>
              <th><input type="text" id="newTitle"></th>
              <th></th>
              <td><button type="button" onclick="addSketch()">Add</button> </td>
            </tr-->
          </thead>
          <tbody id="nodesList">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% endblock %}
