<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


  </head>

  <body>


    <div class="container">

      <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
        </div>
      </div>

      <div class="panel panel-default">
        <div class=" navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Coding</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><div class="btn-group" role="group" aria-label="...">
                <button onclick="console.log('clicked')" class="btn btn-default navbar-btn"> 
                  <span class="glyphicon glyphicon-record" aria-hidden="true"></span> Build
                </button>
                <button id="run-btn" onclick="console.log('clicked'); document.getElementById('stop-btn').style.display='block'; document.getElementById('run-btn').style.display='none'" class="btn btn-default navbar-btn"> 
                  <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run 
                </button>
                <button id="stop-btn" style="display: none" onclick="console.log('clicked Stop'); document.getElementById('stop-btn').style.display='none'; document.getElementById('run-btn').style.display='block'" class="btn btn-default navbar-btn"> 
                  <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop
                </button>
              </div>
              </li> 

            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

        </div>
        <div class="panel-body">
                      <textarea rows = 50 cols = 80 name='prog' id='code'>{{ sketch.code }}</textarea>

        </div>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>
